# dependencies
/node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# dist
/dist

# environment
.env
wallet_data.txt
.wallet_data.txt

/secrets
/secrets/*
/serviceAccountKey.json
serviceAccountKey.json